<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/prop-1.jpg">
      </div>
      <div class="card-body">
        <h1 class="card-title">Pet Name</h1>
        <div>
          <strong>Breed | 10$</strong>
        </div>
        <div>
          <strong>in City</strong>
        </div>
        <hr>
        <div>
          <strong>Address</strong>

        </div>

        <div>
          <strong>Ownet: </strong>
          Joe Biden
        </div>
        <div>
          <strong>Contact: </strong>
          075123698524
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Overview">
        </tab>
        <tab heading="Address">
        </tab>
        <tab heading="Photos">
        </tab>
        <tab heading="Contact">
        </tab>
      </tabset>
    </div>
  </div>
</div>
